.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}
.title {
	text-align: center;
	color: var(--orange);
}
.about-wrapper {
	display: flex;
	gap: 1rem;
	background-color: #fff;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 12px 17px 21px -3px rgba(0, 0, 0, 0.2);
	width: 100%;
}
.about-left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about-discription {
	font-weight: 500;
	font-size: larger;
	color: var(--orange);
	padding: 1rem;
}
.resume-btn {
	background-color: var(--orange);
	padding: 6px 14px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 10px;
	font-weight: 600;
	box-shadow: 3px 14px 30px 0px rgba(0, 0, 0, 0.3);
}
.about-right {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lottie-image {
	height: 450px;
}
@media screen and (max-width: 480px) {
	.about-section {
		width: 100%;
		padding: 0rem;
	}
	.about-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: justify;
		word-spacing: -1px;
		padding: 1rem;
		margin: 1rem;
	}
	.lottie-image {
		height: 300px;
	}
	.about-discription {
		font-weight: 500;
		font-size: larger;
		padding: 0.2rem;
		width: 100%;
	}
	.resume-btn {
		margin-bottom: 3rem;
	}
}
