.footer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.footer-wrapper > h1 {
	margin-top: 3rem;
	color: var(--orange);
}
.footer-content {
	margin-top: 3rem;
	display: flex;
	gap: 3rem;
}
.wave {
	margin: -4rem -2rem -4rem -2rem;
	z-index: -4;
}
.copyright {
	text-align: center;
	font-weight: 500;
	position: absolute;
	bottom: -3.5rem;
}
.topbtn {
	font-size: 2.4rem;
	width: 4rem;
	height: 4rem;
	color: #fff;
	background-color: rgb(92, 92, 221);
	-webkit-box-shadow: 10px 24px 85px -27px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 24px 85px -27px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 24px 85px -27px rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 99;
	cursor: pointer;
}
.totop--icon {
	animation: gototop 1.2s linear infinite alternate-reverse;
}
@keyframes gototop {
	0% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: scaleY(1rem);
	}
}
@media screen and (max-width: 480px) {
	.footer-wrapper {
		width: 90vw;
	}
	.footer-content {
		margin-bottom: 2rem;
	}
}
